@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
  }

body {
    background-color: #f6f7fb;
    font-family: 'ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .bg {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Cashewnuts_hanging_on_a_Cashew_Tree.jpg/330px-Cashewnuts_hanging_on_a_Cashew_Tree.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
  }

  .loading-text {
    font-size: 50px;
    color:black;
  }